{% extends '../opgi_system/layout.html' %}
{% block content %}
{% load static %}

	<ul id="notification-list">
		<div class="row notification-container">
   
			<h1> Les  Alertes des unités </h1>
			<ul id="notification-list">
			  {% if notifications %}
				<ul>
				{% for notification in notifications %}
				  <li>{{ notification.unite }} {{ notification.created_at }}
					<td><a  href="{% url 'recouvrement:generate_pdf' notification.id %}">voir plus  </a></td>

				  </li>
		  
				{% endfor %}
				</ul>
			  {% else %}
				<p>No notifications to display.</p>
			  {% endif %}
			</ul>
		   
		  </div>
	</ul>
	
	
	  {% endblock %}